# MoveOn in person exam

## Victoria Levchenko  |  June 15, 2018
### Outline
##### 0 |  Functions
##### 1 |  Sum the value of words &  identify if they are square words
##### 2 |  Filter out non-square words
##### 3 |  Sort

In [1]:
import pandas as pd
import string
import math
from timeit import default_timer as timer

pd.set_option('display.max_row', 20)
start = timer()

In [2]:
df = pd.read_csv('data.txt', sep="\n") # READ data in

### 0 | Functions

In [3]:
def sum_and_square_words(temp_df, column_name):
    """ 
    PURPOSE Calculate the sum of each string in a column & flag if the sum is a square number
    
    IMPORTANT Each numeric value of a character in a string is based on position in alphabet
    
    INPUT pandas dataframe & specified column of strings to sum
    OUTPUT pandas dataframe
    
    """
    temp_df[column_name] = temp_df[column_name].str.lower() # CONVERT col to lowercase
    
    temp_df['word_sum'] = 0
    temp_df['square_number_flag'] = ''
    
    index = 0
    for word in temp_df[column_name]: # ITERATE through each row
        
        sum_value = 0
        for letter in word: # ITERATE through each character in string
            
            sum_value+= ord(letter)-96 # CALC ASCII minus 96 (calcs alphabet order), then add to sum of string
            
        df.loc[index,'word_sum'] = sum_value # RECORD sum value

        df.loc[index,'square_number_flag'] = 'yes' if math.sqrt(sum_value).is_integer() else 'no' # FLAG square_flag
        index+=1

    return (df)

## 1 | Sum the value of words &  identify if they are square words
##### A word is a "square word" if its number sum is a square number (e.g. 1, 4, 9, 16, etc.)

In [4]:
df = sum_and_square_words(df, 'word')

## 2 | Filter out non-square words

In [5]:
df = df[df['square_number_flag'] == 'yes']

## 3 | Sort
##### Square words in descending number sum order and ascending alphabetic order

In [6]:
df.sort_values(['word_sum', 'word'], ascending = [0, 1])

          word  word_sum square_number_flag
33   selective       100                yes
41     sublime        81                yes
88      chosen        64                yes
36       album        49                yes
48      escape        49                yes
101       year        49                yes
103        yes        49                yes
70       child        36                yes
84        fame        25                yes

In [7]:
end = timer()
print(end - start)

0.16996020499937003