# MoveOn in person exam

## Victoria Levchenko  |  June 15, 2018
### Outline
##### 1 |  Sum the value of words &  identify if they are square words
##### 2 |  Filter out non-square words & sort

In [1]:
require(tidyverse)
require(gtools) # Library for asc function

start_time <- Sys.time()

Loading required package: tidyverse
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.4
✔ tibble  1.4.1     ✔ dplyr   0.7.4
✔ tidyr   0.7.2     ✔ stringr 1.2.0
✔ readr   1.1.1     ✔ forcats 0.2.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: gtools

In [2]:
df = read_csv("data.txt") # READ data in

Parsed with column specification:
cols(
  word = col_character()
)

## 1 | Sum the value of words &  identify if they are square words
##### A word is a "square word" if its number sum is a square number (e.g. 1, 4, 9, 16, etc.)

In [3]:
df <- df %>% mutate(word_values = lapply(asc(word, simplify=FALSE), function(x) x-96), # CALC char alphabet position
                    word_sum = lapply(word_values, sum), # SUM each word 
                    word_sum = as.integer(word_sum), # CONVERT num to int
                    square_word_flag = ifelse(sqrt(word_sum)%%1==0, 'yes', 'no')) # GENERATE FLAG

head(df)

  word      word_values                      word_sum square_word_flag
1 political 16, 15, 12, 9, 20, 9, 3, 1, 12    97      no
2 befitting 2, 5, 6, 9, 20, 20, 9, 14, 7      92      no
3 debt      4, 5, 2, 20                       31      no
4 worthless 23, 15, 18, 20, 8, 12, 5, 19, 19 139      no
5 volcano   22, 15, 12, 3, 1, 14, 15          82      no
6 crawl     3, 18, 1, 23, 12                  57      no

## 2 | Filter out non-square words & sort
##### Square words in descending number sum order and ascending alphabetic order

In [4]:
df <- df %>% filter(square_word_flag == 'yes') %>% # FILTER for words that are square words
            arrange(desc(word_sum), word) # SORT

In [5]:
df

  word      word_values                   word_sum square_word_flag
1 selective 19, 5, 12, 5, 3, 20, 9, 22, 5 100      yes
2 sublime   19, 21, 2, 12, 9, 13, 5        81      yes
3 chosen    3, 8, 15, 19, 5, 14            64      yes
4 album     1, 12, 2, 21, 13               49      yes
5 escape    5, 19, 3, 1, 16, 5             49      yes
6 year      25, 5, 1, 18                   49      yes
7 yes       25, 5, 19                      49      yes
8 child     3, 8, 9, 12, 4                 36      yes
9 fame      6, 1, 13, 5                    25      yes

In [6]:
end_time <- Sys.time()
end_time - start_time

Time difference of 0.369868 secs